pkgbase = php-uuid
	pkgdesc = UUID extension for PHP
	pkgver = 1.2.1
	pkgrel = 3
	url = https://github.com/php/pecl-networking-uuid
	arch = x86_64
	license = LGPL
	depends = php>=7.0
	source = http://pecl.php.net/get/uuid-1.2.1.tgz
	sha256sums = 2235c8584ca8911ce5512ebf791e5bb1d849c323640ad3e0be507b00156481c7

pkgname = php-uuid
