pkgbase = php-jsonpath
	pkgdesc = Extract data using JSONPath notation for PHP
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/supermetrics-public/pecl-jsonpath
	arch = x86_64
	license = PHP License
	depends = php>=8.0
	source = http://pecl.php.net/get/jsonpath-2.1.0.tgz
	sha256sums = 237dcc570790c68364d07102da29cf1d8e0ce6ca9dad076f6061817351bba7f2

pkgname = php-jsonpath
